html,
body {
  touch-action: pan-x pan-y;
  height: 100dvh;
  overflow: smooth;
  overscroll-behavior: none;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
}

svg {
  pointer-events: none;
}
